#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.login_form {
  width: 500px;
  height: 500px;
  border-radius: 250px;
  background-color: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text_input {
  width: 60%;
  height: 35px;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 0 10px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 17px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  display: grid;
  animation: l22-0 2s infinite linear;
  outline: none;
  border: none;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  margin: 15%;
  border-radius: 50%;
  background: inherit;
  transform: rotate(0deg) translate(150%);
  animation: l22 1s infinite;
  outline: none;
  border: none;
}
.loader:after {
  animation-delay: -.5s
}
@keyframes l22-0 {
  100% {transform: rotate(1turn)}
}
@keyframes l22 {
  100% {transform: rotate(1turn) translate(150%)}
}

/* HTML: <div class="loader"></div> */
/* .loader {
  width: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #fff inset;
  border-radius: 50%;
  position: relative;
  animation: l6 1.5s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  top: 100%;
  box-shadow: inherit;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
}
@keyframes l6 {
  to {
    transform: rotate(360deg);
  }
} */

.logo {
  /* height: 6em; */
  /* padding: 1.5em; */
  height: 100px;
  width: 100px;
  border-radius: 100px !important;
  will-change: filter;
  transition: filter 300ms;
  /* text-align: center; */
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  form:nth-of-type(1) .logo {
    animation: logo-spin infinite 5s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
